[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pymysql = "*"
django-redis = "*"
typing-extensions = "*"
redis = "*"
celery = "*"
click = "*"
click-didyoumean = "*"
click-plugins = "*"
kombu = "*"
amqp = "*"
vine = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.14"
